body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Tahoma, Arial, sans-serif;
}
p, ul, li{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
#container{
    width: 1100px;
    margin: auto;
    background: lightgray;
}

#container nav ul.menu{
    overflow: auto;
    border-bottom:solid 2px crimson;
    border-left: solid 6px crimson;
}
#container nav ul.menu li.item:hover{
    background: crimson;
    color: white;
}
#container nav ul.menu li.item{
    float: left;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    font-size: 120%;
}
#container nav ul.menu li.item ul.sub-menu{
    position: absolute;
    overflow: auto;
    background: lightgray;
    display: none;
}
#container nav ul.menu li.item:hover ul.sub-menu {
    position: absolute;
    display: block;
}
#container nav ul.menu li.item ul.sub-menu li.item{
    color: black;
    float: none;
}
#container nav ul.menu li.item ul.sub-menu{
    margin-top: 20px;
    margin-left: -10px;
    border-top: solid 2px crimson;
}